@use '../custom'as *;
@use '../components/mixins'as *;

.intro-section {
  @include gradient;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

.intros {
  .selfie {
    position: relative;
    aspect-ratio: 1;
    shape-outside: circle(80%);
    clip-path: circle(50%);
    width: 60%;

    // a {
    //   span {
    //     height: 6rem;
    //     line-height: 6rem;

    //     i {

    //       font-size: 6rem;
    //       color: $orange;

    //     }
    //   }
    // }
  }
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid $white;
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;

  &--border-1 {
    animation-delay: 1s;
  }

  &--border-2 {
    animation-delay: 1.5s;
  }
}